.App-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  color: white;
  padding: 1rem 2rem;
  transition: 0.4s ease, backdrop-filter 0.4s ease;

  nav {
    display: flex;
    align-items: center;
    gap: 20px;

    .logo-icon {
      width: 12%;
      margin-right: auto;
      transition: width 0.3s ease;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }

  &.scrolled {
    backdrop-filter: blur(10px);
  }

  @media (max-width: 768px) {
    padding: 0.8rem 1.5rem;

    nav {
      .logo-icon {
        width: 18%;
      }
    }
  }

  @media (max-width: 480px) {
    padding: 0.6rem 1rem;

    nav {
      .logo-icon {
        width: 25%;
      }
    }
  }
}
